/* standard rad more */
#more {display: none;}
  
  body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  /* .path {
    stroke-linejoin: round;
  } */
  .label {
    font-size: small;
    text-anchor: start;
    fill: black;
  }
  body {
    text-align: center;
  }
  /* .buurt:hover {
    opacity: 0.65;
  } */
  
  /*Lines*/
 /* .buurt-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
    opacity: 0.7;
  } */
  
  .stadsdeel-borders {
    fill: none;
    stroke: rgb(26, 26, 26);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
    opacity: 0.8;
  }

/* d3 tooltip */
    
.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    }
  
      
      .d3-tip {
      line-height: 1.5;
      font-weight: 400;
      font-family:"avenir next", Arial, sans-serif;
      padding: 6px;
      background: rgba(0, 0, 0, 0.6);
      color: #FFA500;
      border-radius: 1px;
      pointer-events: none;
      }
  
      /* Creates a small triangle extender for the tooltip */
      .d3-tip:after {      
        box-sizing: border-box;
        display: inline;
        font-size: 8px;
        width: 100%;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.6);
        position: absolute;
        pointer-events: none;
        
      }
  
      /* Northward tooltips */
      .d3-tip.n:after {
        content: "\25BC";
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
        text-align: center;
      }
  
      /* Eastward tooltips */
      .d3-tip.e:after {
        content: "\25C0";
        margin: -4px 0 0 0;
        top: 50%;
        left: -8px;
      }
  
      /* Southward tooltips */
      .d3-tip.s:after {
        content: "\25B2";
        margin: 0 0 1px 0;
        top: -8px;
        left: 0;
        text-align: center;
      }
  
      /* Westward tooltips */
      .d3-tip.w:after {
        content: "\25B6";
        margin: -4px 0 0 -1px;
        top: 50%;
        left: 100%;
      }
  
     /* text{
        pointer-events:none;
      } */
  
      .details{
        color:white;
      }
  
  /* change link color */
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Mainimage.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(114, 129, 170);
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  path {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
  }
  .line {
    fill: none;
    stroke: rgba(0, 255, 98, 0.856);
    stroke-width: 2px;
  }
  